 <h1> Hi, </h1>

<p>
  Thanks!

  We thanks your for booking with Good Travel
  <br>
  <br>

  Please find hereafter all information.
<br>
<br>

<strong> HERE I WILL PUT ALL INFORMATIONS REGARDING BOOKING </strong>


<br>
<br>
Good Travel Team

</p>
