.booking-confirmation {
 margin-left: 35px;
 margin-right: 35px;
}

.booking-confirmation h1 {
  font-size: 1.25em;
  text-align: center;
}

.booking-confirmation h2 {
  font-size: 1.1em;
  text-align: left;
}

.booking-confirmation h5 {
  font-size: 1em;
  text-align: center;
}

.booking-confirmation p {
  font-size: 1em;
  text-align: left;
}
