// HEADER FOR BACK TO RESULTS
.show-header-button {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  padding-bottom: 7px;
  padding-top: 7px; // border-bottom: 4px solid orange;
}

.show-container {
  margin-right: 0px;
}

.btn-link {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: $sunset;
}

// IMAGES AT THE TOP
.show-image-display {
  position: relative;
  margin-left: 21px; // border-radius: 2px;
  width: 100%;
}

.show-text-popular-design {
  position: absolute;
  top: 40px;
  display: flex;
  justify-content: center;
  color: white;
  background-color: $sunset;
  width: 25%;
  font-weight: bold;
  font-size: 15px;
}

// INFORMATION LOCATION & FREQUENCY HEADER
.show-location-info {
  font-size: 14px;
  color: #7CC6FE;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f1f2f1;
  padding-left: 40px;
  padding-right: 40px;
}

.show-tour-frequency-infor {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.show-btn-success {
  width: 100%;
  background-color: $orange;
  color: $white;
}

// INFORMATION EXPERIENCE
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #ccc;
  margin: 1em 0;
  padding: 0;
  align: center;
}

.show-experience-info {
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: #f1f2f1;
  padding-left: 40px;
  padding-right: 40px;
}

.show-experience-info h4 {
  font-size: 25px
}

.show-experience-info h5 {
  color: grey;
  font-size: 14px;
  line-height: 1.4;
}

.show-what-you-get {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f1f2f1;
  padding-left: 40px;
  padding-right: 40px;
}

.show-what-you-get h4 {
  color: grey;
}

.show-what-you-get h5 {
  color: grey;
  font-size: 14px;
  line-height: 1.4;
}

// HOURS PART
.show-hour-part-design {
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: #f1f2f1;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: -38px;
}

.show-hour-part-design h4 {
  color: grey;
}

.show-hour-part-design h5 {
  color: grey;
  font-size: 14px;
  line-height: 1.4;
}

.location-information h4 {
  color: grey;
  margin: 0px;
}

.location-information h5 {
  color: grey;
  font-size: 14px;
  line-height: 1.4;
}

.location-information {
  padding-bottom: 20px;
  background-color: #f1f2f1;
  padding-left: 40px;
  padding-right: 40px;
}

// TOUR INFORMATION
label.form-control-label.select.optional{
  display: none;
}


// FLATPICKR - CALENDAR INFO
.show-calendar-info {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  padding-left: 40px;
  padding-right: 40px;
}

input#search_starts_at {
  display: none;
}

input#booking_end_date {
  display: none;
}

label.form-control-label.string.optional {
  display: none;
} // span.flatpickr-day.disabled{
//   background-color: #FF6347;
// }
span.flatpickr-day {
  background-color: green;
}

.show-calendar-form-button {
  padding-top: 5px;
  padding-bottom: 20px;
  background-color: white;
  padding-left: 40px;
  padding-right: 40px;
}

.show-button-available {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}

.show-button-selected {
  background-color: #7CC6FE;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}

.show-button-not-available {
  background-color: grey;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
} // BOOK BUTTON INFORMATION
.show-button-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 10px;
  background-color: #f1f2f1;
  padding-left: 40px;
  padding-right: 40px;
} // SUPPORTED NGOS INFORMATIONS
.show-supported-ngos {
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: #f1f2f1;
  padding-left: 40px;
  padding-right: 40px;
}

.show-supported-ngos h4 {
  color: grey;
}

.show-supported-ngos h5 {
  color: grey;
  font-size: 14px;
  line-height: 1.4;
}

#map-show {
  height: 600px;
}

// LOCATION PART
.show-location-part-with-map {
  padding-top: 5px;
  background-color: #f1f2f1;
}

.show-location-part-with-map h4 {
  color: grey;
}

.show-location-part-with-map h5 {
  color: grey;
  font-size: 14px;
  line-height: 1.4;
}

// text toggle to show more
.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked~.read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state~.read-more-trigger:before {
  content: 'More';
}

.read-more-state:checked~.read-more-trigger:before {
  content: 'Less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: 14px;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: 2px;
}

#modalButton {
  margin: 4px;
}

.ngo-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
