<div class="show-container">
    <div class="row">
        <div class="col-xs-12 col-md-6">
         <p> <%= @experience.name %> </p>
         <p> <%= @experience.description %> <p>
         <p> <%= @experience.price %> </p>
        </div>
    </div>
</div>