
input#booking_start_date {
  display: none;
}

.form-booking-titles {
  margin-left: 15px;
  margin-right: 15px;
}

.form-booking-titles h1{
  font-size: 1.5em;
}


.form-group.string.optional.booking_start_date {
  display: flex;
  justify-content: center;
}

.form-booking-titles h5 {
  font-size: 16px;
  line-height: 1.4;
}

.booking-new-btn{
  background-color: $sunset;
  width: 100%;
  border-color: $sunset;
  border-radius: 2px;
}

.form-booking-willem{
  display: flex;
  justify-content: flex-start;
}
